header {
  padding: 15px 0;

  .logo {
    img {
      display: flex;
      justify-content: start;
      align-items: center;
      width: 32%;
    }
  }

  .menu_link {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 50px;
      margin-top: 12px;
    }
  }

  .book-now {
    .book_button {
    }
  }
}
